version: "3"

services:
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./static_files:/static_files:ro
    depends_on:
      - auth-service
    networks:
      - app-network

  auth-service:
    build:
      context: ../../
      dockerfile: Dockerfile
    command: ["python", "-m", "impresso_content_auth.main", "--server"]
    environment:
      - PORT=8087
      - STATIC_FILES_PATH=/app/static_files
      - STATIC_SECRET=secret
    ports:
      - "8087:8087"
    volumes:
      - ./static_files:/app/static_files:ro
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
