version: "3"

services:
  nginx:
    container_name: nginx
    image: openresty/openresty:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - ./header_filter.lua:/usr/local/openresty/nginx/conf/header_filter.lua:ro
      - ./body_filter.lua:/usr/local/openresty/nginx/conf/body_filter.lua:ro
      - ./static_files:/static_files:ro
    depends_on:
      - auth-service
    networks:
      - app-network
    env_file:
      - ./.env

  auth-service:
    container_name: auth-service
    build:
      context: ../../
      dockerfile: Dockerfile
    command: ["python", "-m", "impresso_content_auth.main", "--server"]
    env_file:
      - ./.env
    environment:
      - PORT=8087
      - REDIS_URL=redis://redis:6379/0
    ports:
      - "8087:8087"
    volumes:
      - ./static_files:/app/static_files:ro
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy
  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30
networks:
  app-network:
    driver: bridge
